/* CreateEmployee.css */
body {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    background-color: aliceblue;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form-title {
    margin-bottom: 2rem;
    text-align: center;
}

.success-message {
    color: green;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

label {
    display: flex;
    flex-direction: column;
}

input[type="submit"] {
    margin-top: 1rem;
}


.success-message {
    color: green;
    text-align: center;
}

.error-message {
    color: red;
    text-align: center;
}

.submit-button {
    margin-top: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #379d49;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #2980b9;
}


.back-button {
    position: absolute;
    top: 180px;
    left: 170px;
    padding: 10px 20px;
    border: none;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    transition: color 0.3s ease;
}

.back-button:hover {
    color: #2980b9;
}
